  <!-- Footer contact -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css'%}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">


<footer class="footer" id = "footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Contact us</h4>
                <ul>                   
                    <li><a>Email:pfit@gmail.com</a></li>
                    <li><a>Phone:+639 1234 1236</a></li>
                    <li><a>Address:PFit Bulding Salawag Dasmarninas Cavite</a></li>               
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Assistance</a></li>
                    <li><a href="#">User terms</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Membership cancellation</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Quick links</h4>
                <ul>
                    <li><a href="">Profile</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Program</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-tiktok"></i></a>
                    <br>
                    <small>@ 2025 PFit Elevate</small>
                </div>
            </div>
        </div>
    </div>
</footer>

