  <!-- Footer contact -->
    <!-- Contact -->
    <section class="contact" id="contact"  data-aos="fade-up-left"  data-aos-delay="50">
      <div class="heading">
          <p>Have Any Question?</p>
          <h2>Contact Us</h2>
      </div>
      <div class="contact-form">
          <form action="" return false;>
              <input type="text" placeholder="Your Name" required>
              <input type="email" name="" id="" placeholder="Enter Your Email..." required>
              <textarea name="" id="" cols="30" rows="10" placeholder="Write Your Message Here... " required></textarea>
              <input type="submit" value="Send" class="contact-button">
          </form>
      </div>
  </section>
  <!-- Copyright -->
  <section class="contact" id="contact">
      <div class="social">
          <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
          <a href="https://yt.com"><i class="bi bi-reddit"></i></a>
          <a href="https://www.reddit.com"><i class="bi bi-youtube"></i></a>
      </div>
      <div class="links">
          <a href="#">Privacy Policy</a>
          <a href="products.php#about">Our Company</a>
          <a href="#">Term Of Use</a>
      </div>
      <p>&#169; All Right Reserved PFit Elevate 2024</p>
  </section> 