{% extends 'apps/homepages/homepagebase.html'%}
{% load static %}

{% block content%}

    <div class="content-workoutlog">                     
        <h2>{{workoutlog.workoutLogID}}</h2>
        <p>{{workoutlog.workoutClientName}}</p>
        <p>{{workoutlog.workoutLogGoals}}</p>
        <p>{{workoutlog.workoutLogDate}}</p>

        <a href="{% url 'workoutlog_update' workoutlog.pk%}"> Edit</a>
        <a href="{% url 'workoutlog_delete' workoutlog.pk%}"> Delete</a>

    </div>


{% endblock content %}


