{% extends 'apps/homepages/homepagebase.html'%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/profile_info.css'%}">


{% block content%}

    
    <div class="content-workoutlog">
        {% for workoutlog in workoutlog_list %}                      
            <h2><a href="{% url 'workoutlog_detail' workoutlog.pk%}">{{ workoutlog.workoutLogDate }}</a></h2>
        {% endfor %}
    </div>
    <a href="{% url 'workoutlog_create'%}">New</a>
{% endblock content %}


