{% extends 'apps/homepages/homepagebase.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/profile_info.css' %}">

{% comment %} Detail view for WorkoutLog {% endcomment %}
<div class="post-entry"> 
    <div class="form-log">
        <a href="{% url 'workoutlog' %}" class="bi bi-x-lg" id="cancel-btn"></a>
    
        <h2>{{ workoutlog.workoutLogID }}</h2>
        
        <!-- Loop through workoutClientName to display each associated Client -->
        <p>
            {% for client in workoutlog.workoutClientName.all %}
                {{ client }} {% comment %} This will use the __str__ method of the Client model {% endcomment %}
            {% empty %}
                No clients associated
            {% endfor %}
        </p>

        <p>{{ workoutlog.workoutLogGoals }}</p>
        <p>{{ workoutlog.workoutLogDate }}</p>   
        <a href="{% url 'workoutlog_update' workoutlog.pk %}">Edit</a>
        <a href="{% url 'workoutlog_delete' workoutlog.pk %}">Delete</a>   
    </div>                         
</div>

{% endblock content %}
