{% extends 'apps/homepages/homepagebase.html'%}
{% load static %}
{% block content%}
<link rel="stylesheet" href="{% static 'css/profile_info.css' %}">


{% comment %} Detail view {% endcomment %}
<div class="detail-view">
    <div class="grid-container">
        {% for workoutplan in workoutplan_detail %}
            <div class="grid-item">
                <a href="{% url 'workoutplan_detail' workoutplan.pk %}">
                    <h2>{{ workoutplan.workoutPlanName }}</h2>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% include 'apps/homepages/footer.html' %}

{% endblock content %}


