{% extends 'apps/homepages/homepagebase.html'%}
{% load static %}

{% block content%}
{% for workoutlog in workoutlog_list %}
<section id ="hero">
    <div class="hero-content">
        <h2>{{workoutlog.workoutLogID}}</h2>
        <h2>
            <a href="{% url 'workoutplan' workoutlog.pk%}">{{workoutlog.workoutLogDate}}</a>  
            <a href="{% url 'workoutplan' workoutlog.pk%}">{{workoutlog.workoutLogTime}}</a>
            <a href="{% url 'workoutplan' workoutlog.pk%}">{{workoutlog.workoutLogDuration}}</a>
            <a href="{% url 'workoutplan' workoutlog.pk%}">{{workoutlog.workoutLogDistance}}</a>      
        </h2>
    </div>
</section>

{% endfor %}

{% endblock content %}


