@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


* {
	box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
}


/* Hero section styles */
#hero {
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-content { 
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  
}
#hero h2 {
    font-size: 3rem;
    color: white;
   
}

#hero p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
p {
    color: #002C3F;
}
span{
    color: #002C3FB3;
}


/* About section */
#about {
    
   
    padding: 50px;
    text-align: center;
    height: 330px;
}

#about p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2rem;
}

/* CSS for listview and detailview */
#logview {
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-content {
    background-color: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    padding: 20px; 
    border-radius: 10px;
    height: fit-content;
}
/* Program section */
#program {
   
    padding: 50px;
    text-align: center;
}

#program h3 {
    margin-top: 0;
}

.program-details ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 4fr); /* 2 columns grid */
    gap: 20px; /* Space between items */
    justify-items: center;
    height:fit-content
}

.program-details ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 items per row */
    gap: 20px; /* space between the items */
    list-style-type: none;
    padding: 0;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 20px;
    height: 250px; /* Set the height to make items equal */
    text-align: center;
}

.feature-item img {
    max-width: 100px; /* Ensure the images fit nicely */
    margin-bottom: 10px;
}

.cta-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.cta-btn:hover {
    background-color: #0056b3;
}


/* CTA button */
.cta-btn {
    background-color: #00A359;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

.cta-btn:hover {
    background-color: #00A359;
    box-shadow:  0px 3px 17px 4px rgba(57, 142, 115, 0.46);
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
    .program-details ul {
        grid-template-columns: 1fr; /* Single column layout for smaller screens */
    }
}

/* CTA button */
.cta-btn {
    background-color: #00A359;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

.cta-btn:hover {
    background-color: #00A359;
    box-shadow:  0px 3px 17px 4px rgba(57, 142, 115, 0.46);
}

/* Footer */


@media (max-width: 768px) {
    #hero h2 {
        font-size: 2rem;
    }

    #hero p {
        font-size: 1.2rem;
    }
}

/* General Styles for Footer */
