 /* Style for the popup overlay */
 .popup {
    display: none;  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    justify-content: center;
    align-items: center;
  }

  /* Show popup when targeted */
  .popup:target {
    display: flex;
  }

  .popup-content {
    background-color: white;
    padding: 20px;
    margin-top: 6%;
    border-radius: 5px;
    width: 450px;
    position: relative;
  }

  /* Close button */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    text-decoration: none;
    color:#1a3636;
  }
  .div-header {
    color: #1a3636;
  }

  /* What's your primary goal? Style for the popup div content */

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px; /* spacing between grid items */
    width: 200px; /* adjust as needed */
    margin: auto;
  }
  .descrip {
    background-color: white;
    color: black;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
  }

  .descrip:hover {
    background-color: #677d6a;
    
  }
  .goal{
    color:black;
    text-decoration: solid;
  }
  .goal:hover{
    cursor:pointer;
    color: white;
   
  }

  /* Basic form styling */
  .form-container {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
  }

  /* Input styling */
  .form-input, .form-select {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #333; /* Bottom border for input */
    outline: none;
    width: 100%;
    color:#677d6a;
    background-color: white;
  }

  /* Underline only for placeholder */
  .form-input::placeholder {
    text-decoration: underline;
    color:#677d6a; /* Placeholder color */
    
  }
  

  /* Change border color on focus */
  .form-input:focus, .form-select:focus {
    border-bottom-color: #4CAF50;
    color: black;
  }


  

  